.description{
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  padding-top: 18px;
  color: $special_dark-grey;
  margin: 0;
}

.description__value{
  margin: 0;
}

.description__wrapper{
  display: flex;
  justify-content: space-between;
  padding-bottom: 6px;
}
