.example{
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  padding-top: 27px;
  padding-bottom: 31px;
  background-color: $background-example;

  @media (min-width: $tablet-width){
    border-top: 1px solid $border-color;
    background-color: transparent;
    padding-top: 43px;
    padding-bottom: 0;
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @media (min-width: $desktop-width){
    border: 0;
    padding-left: $padding-desktop;
    padding-right: calc(64%);
    position: relative;
    min-height: 640px;
    box-sizing: border-box;
  }
}

.example__header{
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $text-black;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  @media (min-width: $tablet-width){
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width){
    padding-bottom: 146px;
  }
}

.example__text{
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrapper{
  padding-top: 25px;

  @media (min-width: $tablet-width){
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-bottom: 250px;
  }

  @media (min-width: $desktop-width){
    padding-bottom: 0;
    grid-template-columns: 1fr;
  }
}

.example__parameters{
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;

  @media (min-width: $desktop-width){
    justify-content: left;
    column-gap: 42px;
  }
}

.example__price{
  margin: 0;
  margin-left: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $text-black;
  padding-bottom: 42px;

  @media (min-width: $tablet-width){
    margin-left: auto;
    max-width: 180px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width){
    max-width: none;
    text-align: left;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;
  }
}

.example__images{
  text-align: center;

  @media (min-width: $tablet-width){
    position: relative;
    min-height: 462px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &::before{
      content: "";
      position: absolute;
      width: 120%;
      height: 462px;
      background-color: $background-example;
      left: 0;
      margin-left: -$padding-desktop;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width){
    position: absolute;
    top: 0;
    padding-left: 33%;
    padding-right: $padding-desktop;
    width: 100%;
    box-sizing: border-box;
    top: 150px;

    &::before{
      height: 598px;
    }
  }
}

.example__control{
  padding-top: 23px;
  text-align: center;

  @media (min-width: $tablet-width){
    padding-top: 0px;
    padding-bottom: 67px;
  }
}

.example__control-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 14px;
  padding-right: 14px;
}

.example__img-wrapper{
  position: relative;
  min-height: 230px;
  min-width: 307px;
  box-sizing: border-box;
}

.example__image{
  display: block;
  position: absolute;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;

  @media (min-width: $tablet-width){
    min-width: 708px;
    height: auto;
    margin-top: -170px;

  }
}
