.example{
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  padding-top: 27px;
  padding-bottom: 31px;
  background-color: $background-example;

  @media (min-width: $tablet-width){
    border: 1px solid $border-color;
    background-color: transparent;
    padding-top: 43px;
  }
}

.example__header{
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $text-black;
  margin: 0;
  padding: 0;
  padding-bottom: 33px;

  @media (min-width: $tablet-width){
    font-size: 60px;
    line-height: 60px;
    padding-bottom: 63px;
  }
}

.example__text{
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 24px;
  }
}

.example__wrapper{
  padding-top: 25px;

  @media (min-width: $tablet-width){
    padding-top: 54px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    padding-bottom: 250px;
  }
}

.example__parameters{
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.example__price{
  margin: 0;
  margin-left: auto;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: $text-black;
  padding-bottom: 42px;

  @media (min-width: $tablet-width){
    margin-left: auto;
    max-width: 180px;
    text-align: right;
    font-size: 20px;
    line-height: 30px;
  }
}

.example__images{
  text-align: center;
}

.example__control{
  padding-top: 23px;
  text-align: center;
}

.example__control-text{
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding-left: 14px;
  padding-right: 14px;
}

.example__img-wrapper{
  position: relative;
  min-height: 230px;
  min-width: 307px;
  box-sizing: border-box;
}

.example__image{
  display: block;
  position: absolute;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  left: 0;
  right: 0;
}
