.form{
  padding-bottom: 32px;
}

.form__header{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding-bottom: 39px;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 30px;
    padding-top: 54px;
    padding-bottom: 66px;
    padding-left: $padding-tablet + 40px;
    padding-right: 40%;
  }

  @media (min-width: $desktop-width){
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
  }
}

.form__fieldset{
  border: none;
  margin: 0;
  padding: 0;
  font-weight: normal;
  color: $special_dark-grey;
  text-transform: uppercase;
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  position: relative;

  &--general{
    border-bottom: 1px solid $border-color-socials;
    font-size: 16px;
    line-height: 18px;
    padding-bottom: 21px;
  }

  &--service{
    padding-top: 29px;
    padding-bottom: 30px;
  }

  &--contact{

  }

  @media (min-width: $tablet-width){
    padding-left: $padding-tablet + 40px;
    padding-right: $padding-tablet + 37px;

    &--general{
      border: 0;
      font-size: 20px;
      line-height: 30px;
    }

    &--service{
      padding-top: 52px;
      padding-bottom: 53px;
      border: 0;
    }

    &--contact{
      border: 0;
      padding-bottom: 42px;
    }

    &--comment{
      padding-bottom: 42px;
    }
  }

  @media (min-width: $desktop-width){
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;

    &--general{
      padding-right: 0;
    }

    &--service{
      padding-top: 0;
      padding-bottom: 51px;
      padding-left: 0;
      border: 0;
    }
  }
}

.form__fieldset-border{
  color: $special_dark-grey-2;
  display: grid;
  row-gap: 15px;

  @media (min-width: $tablet-width){
    row-gap: 23px;
    border: 1px solid $border-color-socials;
    padding: 29px 25px;
  }
}

.form__wrapper{
  padding-bottom: 13px;
  align-items: center;
  position: relative;

  &:nth-last-of-type(1){
    padding-bottom: 0;
  }

  .form__fieldset--general &{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 14px;
  }

  .form__fieldset--contact &{
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 10px;
  }

  .form__fieldset--addition &{
    padding-top: 8px;
  }

  @media (min-width: $tablet-width){
    padding-bottom: 21px;

    .form__fieldset--general &{
      column-gap: 19px;
    }

    .form__fieldset--service &{
      padding-bottom: 0;
    }

    .form__fieldset--addition &{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (min-width: $desktop-width){
    .form__fieldset--addition &{
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .form__fieldset--contact &{
      padding: 0;
    }
  }
}

.form__input{
  border: 1px solid $border-color-form;
  padding: 0;
  margin: 0;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  box-sizing: border-box;
  position: relative;

  &::placeholder{
    color: inherit;
    text-transform: uppercase;
  }

  .form__fieldset--contact &{
    padding-right: 40px;
  }
}

.form__descrition{
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: $text-black;
  margin-top: 27px;
  margin-bottom: 32px;
  text-transform: none;


  .form__fieldset--contact &{
    background-color: $text-white;
    width: 202px;

    &::after{
      content: "";
      width: 100%;
      height: 2px;
      margin: auto;
      top: 42px;
      right: -$padding-mobile;
      background-color: $basic-green;
      position: absolute;
      z-index: -1;
    }
  }

  .form__fieldset--comment &{
    background-color: $text-white;
    width: max-content;
    padding-right: 22px;

    &::after{
      content: "";
      width: 100%;
      height: 2px;
      margin: auto;
      top: 42px;
      right: -$padding-mobile;
      background-color: $basic-green;
      position: absolute;
      z-index: -1;
    }
  }

  .form__fieldset--addition &{
    background-color: $text-white;
    width: max-content;
    padding-right: 24px;

    &::after{
      content: "";
      width: 100%;
      height: 2px;
      margin: auto;
      top: 42px;
      right: -$padding-mobile;
      background-color: $basic-green;
      position: absolute;
      z-index: -1;

    }
  }

  @media (min-width: $tablet-width){
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 76px;
    background-color: $text-white;
    width: max-content;
    padding-right: 39px;
    padding-left: 39px;

    .form__fieldset--addition &{
      margin-bottom: 57px;
    }

    &::after{
      content: "";
      width: 100%;
      height: 2px;
      margin: auto;
      top: 44px;
      right: 0;
      background-color: $basic-green;
      position: absolute;
      z-index: -1;
    }

    .form__fieldset--contact &{
      width: max-content;
      margin-left: -$padding-tablet;

      &::after{
        width: 100%;
        right: 0;
      }
    }
  }
}

.form__textarea{
  border: 1px solid $border-color-form;
  width: 100%;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  resize: none;
  min-height: 150px;
  box-sizing: border-box;

  &::placeholder{
    color: inherit;
    text-transform: uppercase;
  }
}

.submit__wrapper{
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  padding-top: 54px;
  padding-top: 3px;

  @media (min-width: $tablet-width){
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: $padding-tablet + 40px;
    padding-right: $padding-tablet + 30px;
    column-gap: 61px;
  }
}

.form__submit{
  border: none;
  background-color: $basic-green;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  color: $text-white;
  display: block;
  padding-top: 11px;
  padding-bottom:11px;
  margin-top: 13px;
  margin-bottom: 21px;
  width: 100%;

  @media (min-width: $tablet-width){
    margin: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width){
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

.form__label{
  display: block;
  position: relative;
  font-size: 16px;
  line-height: 16px;

  .form__fieldset--service &{
    padding-left: 45px;
    margin-bottom: -2px;
  }

  .form__fieldset--service &::before{
    position: absolute;
    box-sizing: border-box;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $special-grey;
    left: 0;
    top: calc(50% - 15px);
  }

  .form__fieldset--service input:checked ~ &::after{
    position: absolute;
    content: "";
    display: block;
    width: 13.5px;
    height: 13.5px;
    background-color: $basic-green;
    border-radius: 50%;
    left: 8px;
    top: calc(50% - 7px);
  }

  .form__fieldset--addition &{
    padding-left: 45px;
    margin-bottom: 26px;
  }

  .form__fieldset--addition &::before{
    position: absolute;
    box-sizing: border-box;
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid $special-grey;
    left: 0;
    top: calc(50% - 15px);
  }

  .form__fieldset--addition input:checked + &::after{
    position: absolute;
    content: "";
    display: block;
    width: 16px;
    height: 8px;
    border-left: 2px solid $basic-green;
    border-bottom: 2px solid $basic-green;
    transform: rotate(-45deg);
    left: 6px;
    top: calc(50% - 7px);
  }

  @media (min-width: $tablet-width){
    font-size: 20px;
    line-height: 30px;

    .form__fieldset--addition &{
      margin-bottom: 32px;
    }

    .form__fieldset--service &{
      margin-bottom: 0;
      padding-left: 63px;
    }

    .form__fieldset--service &::before{
      width: 40px;
      height: 40px;
      left: 3px;
      top: calc(50% - 20px);
    }

    .form__fieldset--service input:checked ~ &::after{
      width: 18px;
      height: 18px;
      left: 14px;
      top: calc(50% - 9px);
    }
  }
}

.form__legend{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width){
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    font-size: 16px;
    line-height: 16px;
  }
}

.form__input-icon{
  position: absolute;
  color: $special_dark-grey-2;

  &--phone{
    right: 12px;
    top: 13px;
  }

  &--email{
    right: 15px;
    top: 16px;
  }

  .form__input:active ~ &{
    color: $basic-green;
  }

  .form__input:invalid ~ &{
    color: $status-error;
  }

  .form__input:focus ~ &{
    color: $basic-green;
  }
}
