.special{
  padding-left: $padding-mobile;
  padding-right: $padding-mobile;
  padding-top: 27px;
  padding-bottom: 42px;

  @media (min-width: $tablet-width){
    padding-left: $padding-tablet;
    padding-right: $padding-tablet;
  }

  @media (min-width: $desktop-width){
    padding-left: $padding-desktop;
    padding-right: $padding-desktop;
    padding-top: 71px;
  }
}

.special__header{
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: $text-black;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width){
    font-size: 60px;
    line-height: 60px;
  }
}

.special__list{
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  padding-top: 38px;
  counter-reset: count;

  @media (min-width: $tablet-width){
    grid-template-columns: 1fr 1fr;
    padding-top: 32px;
    gap: 37px;
  }

  @media (min-width: $desktop-width){
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.special__item{
  font-family: "Arial", sans-serif;
  padding-left: 80px;
  padding-right: 85px;
  min-height: 60px;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  position: relative;
  counter-increment: count;

  &::before{
    content: "";
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
    top: 0;
  }

  @media (min-width: $tablet-width){
    font-size: 16px;
    line-height: 24px;
    padding-left: 0;
    padding-top: 151px;
    min-height: 280px;
    box-sizing: border-box;


    &::before{
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &::after{
      font-family: "Oswald", "Arial", sans-serif;
      position: absolute;
      content: counter(count);
      font-weight: normal;
      font-size: 280px;
      line-height: 280px;
      color: $basic-grey;
      top: 0;
      right: 0;
      z-index: -1;
    }
  }

  &--leaf::before{
    background: $basic-green url("../img/advantage/advantage-leaf@1x.png") center center no-repeat;
    background-size: cover;
  }

  &--clock::before{
    background: $basic-green url("../img/advantage/advantage-clock@1x.png") center center no-repeat;
    background-size: cover;
  }

  &--dining::before{
    background: $basic-green url("../img/advantage/advantage-dining@1x.png") center center no-repeat;
    background-size: cover;
  }

  &--powder::before{
    background: $basic-green url("../img/advantage/advantage-powder@1x.png") center center no-repeat;
    background-size: cover;
  }

  @media (min-resolution: 2dppx){
    &--leaf::before{
      background: $basic-green url("../img/advantage/advantage-leaf@2x.png") center center no-repeat;
      background-size: cover;
    }

    &--clock::before{
      background: $basic-green url("../img/advantage/advantage-clock@2x.png") center center no-repeat;
      background-size: cover;
    }

    &--dining::before{
      background: $basic-green url("../img/advantage/advantage-dining@2x.png") center center no-repeat;
      background-size: cover;
    }

    &--powder::before{
      background: $basic-green url("../img/advantage/advantage-powder@2x.png") center center no-repeat;
      background-size: cover;
    }
  }
}
